coverage==4.5.1
entrypoints==0.3
filelock==3.0.10
flake8==3.7.7
isort==4.3.18
mccabe==0.6.1
pluggy==0.9.0
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
six==1.12.0
toml==0.10.0
tox==3.9.0
virtualenv==16.5.0
